.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0f172a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  color: #3b82f6;
  font-size: 22px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}